.Edit
  .Edit__Top
    .Form__Content
      .FormField
        %h1.title Editing Place
        = form_with(model: @place, local: true) do |form|
          - if @place.errors.any?
            #error_explanation
              %h2
                = pluralize(place.errors.count, "error")
                prohibited this place from being saved:
              %ul
                - place.errors.full_messages.each do |message|
                  %li= message
          .field
            = form.label :image, class: "subtitle"
            .form
              - if @place.image.present?
                = form.text_field :text, value: @place.image, class: 'text'
                = form.label :image, 'Add Image', class: 'icon' do
                  = icon('far', 'image')
                  = form.file_field :image, class: 'Hidden'
              - else 
                = form.text_field :text, placeholder: 'Add Image', class: 'text'
                = form.label :image, 'Add Image', class: 'icon' do
                  = icon('far', 'image')
                  = form.file_field :image, class: 'Hidden'
          .field
            = form.label :name, class: "subtitle"
            = form.text_field :name
          .field
            = form.label :description, class: "subtitle"
            = form.text_field :description
          .actions
            = form.submit class: "Update"

  .Edit__Bottom
    = link_to 'Back', places_path, class: "Back"


