.Index
  %header.header
    .leftHeader
    .centerHeader
      %h1.grid-6
        %a.post.Home{:href => "/"}
          %span きっとみつかる、あなたの行きたい 
          %br.title Favo Map
    .rightHeader  
      - if user_signed_in?
        .user_nav.grid-6
          = link_to(content_tag(:div, 'Sign Out', class: 'text'),   destroy_user_session_path, class: "post Logout", method: :delete )
          = link_to(content_tag(:div, 'New Place', class: 'text'), new_place_path, class: "post AddPlace")
     
  %p#notice= notice

  .Index__Content
    .IndexTop
      %h1.title Your Places
    .boxes
      .boxes__search
        = form_with(url: '/places', local: true, method: :get, class: "search-form") do |form|
          = form.text_field :name_key, placeholder: "どこから向かう？", class: "search-input"
          = form.submit "Search", class: "searchBtn"
          = link_to 'Clear', places_path, class: "clearBtn"
  
      .boxes__content
        .box
          .box__image
            = link_to(content_tag(:i, '　From Your Location', class: 'fa fa-map-marker-alt'), '/current_place/current', class: "link-current")
        -@places.each do |place|
          .box
            .box__image
              = image_tag place.image.url, class: "image-cover" if place.image.present?
              .mask
                .caption
                  .search
                    = link_to(content_tag(:i, '', class: 'fa fa-search'), place, class: "link-search")
                  .edit  
                    = link_to(content_tag(:i, '', class: 'fa fa-cog'), edit_place_path(place), class: "link-edit")
                  .destroy
                    = link_to(content_tag(:i, '', class: 'fa fa-trash'), place, method: :delete, data: { cofirm: 'Are you sure?'}, class: "link-destroy")  
            .box__content
              .box__content--contents
                .contentsName
                  = place.name
                .contentsDescription  
                  = place.description
    .PageTop_area
      = link_to "PAGE TOP", '' ,class: "pagetop" 


:javascript
  $(".PAGE TOP").click(
    function(){
      $(".Index").animate({scrollTop:0},"slow");
    }
  );